:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

#wrapper {
  display: flex;
}

#content-wrapper {
  flex-direction: column!important;
  display: flex!important;
}

#wrapper #content-wrapper {
  background-color: #a50000;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh
}

#content {
  flex: 1 1 auto;
  background-color: rgba(187, 53, 53, 0.5);
}

body {
  margin: 0;
  display: flex;
  box-sizing: border-box;
  place-items: center;
  min-width: 320px;
  min-height: 100%;
  font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}

h1 {
  font-weight: 400;
  line-height: 1.2;
}

h2 {
  text-align: center;
  margin: 0;
  font-weight: 500;
  color: #f0f0f0;
}

.sidebar-brand h2 {
  color: #f0f0f0
}

td a {
  color: #000
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
  margin-bottom: 0.6rem;
  justify-content: space-evenly;
}

.box {
  background-color: rgba(187, 53, 53, 0.5);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  align-items: center;
}

.row.users,
.row.category {
  height: 220px;
  align-items: center;
}

.row.category > .card-card {
  flex-basis: calc(50% - 100px);
}

.box-flex {
  display: flex;
}

button,
button a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #f0f0f0;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
  width: 120px
}

button:focus,
button a:focus,
button:focus-visible,
button a:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#wrapper {
  display: flex;
  width: 100%;
  background-color: #f8f9fc;
  overflow-x: hidden;
  flex: 1 1 auto;
}

.sidebar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05rem;
  z-index: 1;
  color: #f0f0f0;
  border-bottom: 1px solid #000;
}

.sidebar-divider{
  border-top: 1px solid rgba(255,255,255,.15);
  margin: 0 0 1rem 0;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.sidebar {
  text-align:center;
  float:left;
  vertical-align:0;
  border:0;
  font-weight:900;
  font-family:'Font Awesome 5 Free';
  position:relative;
  transform-origin:top right;
  margin-top:-.25rem;
  width:14rem!important;
  min-height:100vh
}

.nav-item {
  position: relative;
}

.nav-item .nav-link {
  display: block;
  text-align: left;
  padding: .5rem;
  width: 14rem;
  color: #f0f0f0
}

span.nav-link {
  color: #f0f0f0;
}

.nav-item .home {
  text-align: center;
  margin: 0;
  padding: 1.5rem 0;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  background-color: #820000;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;;
  color: #f0f0f0;
  background-color: #820000;
  height: 4.375rem;
  flex-flow: row nowrap;
  position: relative;
  border-bottom: #000 1px solid;
}

.table thead th, 
.table td{
  vertical-align: center;
  border-bottom: 1px solid #f0f0f0;
  border: 1px solid #f0f0f0;
  padding: 0.75rem;
  color: #000;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #858796;
  border: 1px solid #f0f0f0;
}

.container-fluid{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.quantity {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  text-align: center;
  color: #f0f0f0;
  background-color: #a50000;
}

.content-card{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-card {
  width: 200px;
  height: 100px;
  background-color: #CACACA;
  border-radius: 5px;
  box-shadow: 5px 3px 3px black;
}

.icon {
  font-size: 30px;
  color: #a50000
}

.data{
  color: #000;
  text-align: center;
  font-weight: 600;
}

.card {
  background-color: #CACACA;
}

.page-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0
}

.page {
  margin: 5px 10px;
  text-align: center;
  border: 1px solid #f0f0f0;
  padding: 5px 20px;
}

/* PRODUCT DETAIL */
.description {
  background-color: rgba(187, 53, 53, 0.5);
  margin: 20px;
  border-radius: 15px;
  border: solid #000 0.5px;
  width: 80%;
  padding: 0px 15px;
  min-height: 35vw;
}

.desc-container {
  display: flex;
  justify-content: space-between;
}

p.description-text {
  text-align: left;
}

img.product {
  height: 50vh;
  width: auto;
  object-fit: cover;
  overflow: hidden;
}

.img-product {
  width: 25%;
  margin: auto;
}

.description.img-prod {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5.product-name,
.description > h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 14px;
  text-align: center;
  color: #f0f0f0;
  font-weight: 500;
}

.price, 
.grape, 
.stock, 
.description > p {
    font-size: 14px;
    line-height: 30px;
}

.field {
  width: 120px;
  margin-right: 0px;
  text-align: left;
  color: #f0f0f0
}

span.data {
  margin-left: 15px;
  color: #f0f0f0
}

.edit-product {
  display: flex;
  margin: 0 0 0 10px;
}

/* PRODUCT DETAIL */

/* USER DETAIL */
div.profile {
  background-color: rgba(187, 53, 53, 0.5);
  width: 70%;
  height: fit-content;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

h2.title {
  text-align: center;
  font-weight: 500;
  padding: 5px;
  color: #f0f0f0;
}

.personal-data {
  text-align: justify;
  padding: 5px;
  font-size: 16px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0f0f0;
}

h4 {
  font-weight: 500;
  text-align: justify;
  padding: 5px;
  margin-left: 10%;
  font-size: 20px;
  color: #f0f0f0;
  margin: auto;
}

.date {
  text-align: center;
  font-weight: normal;
  color: #f0f0f0;
  margin: auto;
}

li {
  list-style: none;
  color: #f0f0f0;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

.img-user {
  border-radius: 50%;
  width: 20%;
}

/* USER DETAIL */

/* PRODUCT FORM */

form .field {
  height: 100% ;
  width: 90%;
  margin-top: 20px;
}

.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400px;
  border-radius: 6px;
  border: 1px solid #CACACA;
}

.field input {
  padding: 0 15px;
}

.form-link {
  text-align: center;
  margin-top: 10px;
}

.form-link span {
  font-size: 14px;
  font-weight: 400;
}

.form-link a{
  text-decoration: none;
}

select.input {
  width: 100%;
}

.form-create {
  padding: 10px;
  border-radius: 6px;
  background: rgba(187, 53, 53, 0.5);
  margin: auto;
  width: 90%;
}

textarea.form-input {
  width: 100%;
  display: block;
  min-height: 140px;
  padding: 15px;
  border: 1px solid #CACACA;
  border-radius: 6px;
}

/* PRODUCT FORM */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: rgba(187, 53, 53, 0.5);
    border: #000 solid 1px;
    margin: 10px;
  }
}
